<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Player</title>
</head>
<body>

    <form method="post" action="/roster">
        <label>Name: <input name='name' /></label>
        <label>Position: <select name='postion' />
        <option value="Quarterback"></option>
        <option value="Runningback"></option>
        <option value="Wide Receiver"></option>
        </label>
        <label>Team: <input name='team' /></label>

        <button>SUBMIT</button>

    </form>
    
</body>
</html>